* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#text-display {
    font-size: 2vw;
    position: fixed;
    bottom: 2%;
    left: 2%;
    right: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3%;
    color: white;
    line-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid white;
}

.hidden {
    display: none;
}

#tool-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    right: 0;
    left: 0;
    border: 1px solid black;
    height: 2rem;
    min-width: 100%
}

#inventory-display {
    display: flex;
    background-color: purple;
    min-height: 2rem;
    min-width: 100%
}

#restart-button {
    background-color: pink;
}

.icon {
    max-height: 2rem;
}

#autosave {
    top: 0;
    right: 0;
    position: absolute;
    background-color: lime;
}
